.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 1rem;
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #ccc;
  }
  
  .space-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/79/1f/7b/791f7b8e3b575b34101e8b54e8713f1e.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
    animation: rotate 30s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }